*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color:rgb(77, 72, 72)
}

form {
  text-align: center;
  margin-top: 80px;
}

.bigContainer {
  width: 1300px;
  height: 650px;
  margin: auto;
}

input{
  width: 780px;
  height: 40px;
  border: 5px solid rgb(159, 218, 154);
  border-radius: 10px;
  padding-left: 10px;
}

.button {
  color: white;
  height: 60px;
  width: 60px;
  background-color: rgb(159, 218, 154); 
  border: none;
  border-radius: 100%;
  box-shadow: 2px 0px 23px -1px rgba(0,0,0,0.25);
  margin-left: 20px;
  padding: 2px 5px;
}

.weatherListContainer {
  min-width: 1000px;
  display: grid;
  place-items: center;
}

.weatherList {
  width: 1000px;
  height: 250px;
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.weather {
  width: 230px;
  height: 260px;
  background-color: rgb(241, 216, 233); 
  text-align: center;
  padding-top: 30px;
  border-radius: 15px;
  box-shadow: 2px 0px 23px -1px rgba(0,0,0,0.45);
}

.weather h3 {
  color: rgb(104, 163, 230);
}

.currentContainer {
  width: 850px;
  margin-top: 50px;
  background-color: rgb(173, 225, 255);
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  box-shadow: 2px 0px 23px -1px rgba(0,0,0,0.45);
  padding: 10px;
}

.currentContainer ul {
  list-style-type: none;
  text-align: center;
}

.currentContainer ul li {
  margin-top: 10px;
}

.currentContainer ul li h3 b {
  color: crimson;
}

.iconBox {
  display: flex;
  margin-bottom: 10px;
}

.paginationContainer {
  display: grid;
  place-items: center;
}

.selected {
  background-color: rgb(241, 221, 184);
  box-shadow: 1px 2px 56px 2px rgba(238, 225, 45, 0.89);
}

form h1 {
  margin-top: 30px;
}

form h1 b {
  color:rgb(159, 218, 154);
  font-size: larger;
  font-weight: 900;
}